$primary-color: #343a40;
$secondary-color: #999999;
$third-color: #666666;

body {

  background-color: $primary-color;
  color: whitesmoke;
  margin: 10px 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

  h1, h2 {
    text-align: center;
    width: 100%;
    margin: 3px 10px;
    max-width: 1280px;
  }

  h1 {
    border: 4px double white;
  }

  a {

    text-decoration: none;
    color: white;
    
    &.btn { 
      &.btn-dark {
        background: black;
        padding: 10px;
        font-size: 11px;
      }
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #333;
    padding: 10px;
    min-height: 462px;
    width: 100%;
    align-items: center;
  }

  aside {
    text-align: left;
    padding: 10px;
    top: 10px;
    background-color: firebrick;
    font-size: 14px;
    border-left: 10px solid black;
    width:300px;
  }

  .main {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
  }

  textarea {
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  }

  .row {
    margin: 0 10px 0 0;
  }

  .canvas-container {
    display: flex;
    background-color: $secondary-color;
  }

  .panel {
    text-align: center;
    background: $third-color;
    padding: 10px;
    width: 320px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: $primary-color;
  }
}
