body {
    background: #333;
    color: white;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.jumbotron {
    background: #b22222;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
}

#results {
    display: flex;
    flex-wrap: wrap;
    canvas {
        padding: 6px;
    }
}

.row {
    max-height: 620px;
    overflow-y: scroll;
}