@import "~bootstrap/scss/bootstrap";

$primary-color: #343a40;
$secondary-color: #999999;
$third-color: #666666;

body {

  h1, h2 {
    text-align: center;
  }

  h1 {
    border: 4px double white;
  }

  section {
    background: #333;
    padding: 10px;
    min-height: 462px;
  }

  aside {
    position: absolute;
    left: 10px;
    width: 300px;
    padding: 10px;
    top: 10px;
    background-color: firebrick;
    font-size: 14px;
    border-left: 10px solid black;
  }

  #results {
    display: flex;
    text-align: center;
    margin: 10px 0;
  }

  textarea {
    width: calc(100% - 30px);
    margin: 15px 15px 0 15px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono",
    "Courier New",
    monospace;
  }

  .row {
    &.text-center {
      margin: 0 10px 0 0;
    }
  }

  .help {
    padding: 10px 0;

    > img {
      margin-right: 10px;
      height: 120px;
    }
  }
  .jumbotron {
    padding-top: 6px;
    > .jumbotron-heading {
      padding: 10px;
      border-bottom: 1px solid grey;
      border-top: 1px solid grey;
      background-color: grey;
    }
  }
  background-color: $primary-color;
  color: whitesmoke;
  margin: 10px 0;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono",
  "Courier New",
  monospace;

  .canvas-container {
    background-color: $secondary-color;
  }

  .panel {
    background: $third-color;
    padding: 10px;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: $primary-color;
  }

  .dg li.save-row .button.gears {
    height: 16px;
    width: 16px;
  }
}
