<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
    <title>Partheno - Geometric bookmark patterns</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Partheno</h1>
            <p>Lets' play with geometric patterns to make your own design to make fantastic geometric bookmark patterns.</p>
            <!-- Place this tag where you want the button to render. -->
            <a class="github-button" href="https://github.com/smartinus44/partheno/fork" data-size="large" aria-label="Fork smartinus44/partheno on GitHub">Fork</a>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>What is Partheno?</h3>
                <h6>This is a javascript library you can use in any project to make pictures with patterns of your own.</h6>
                <nav class="mdc-list">

                    <h6>Why Partheno?</h6>
                    <p>Partheno has originally been thought to permit you to setup your own wooden bookmarks!<br/><br/>It comes from the ancient monument &laquo;The parthenon&raquo;. The building used to house a large frieze and was erected through ingenious
                        mathematical procedures.</p>
                    <hr>
                    <div class="partheno">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^
                        <br> &nbsp;&nbsp;&nbsp;^__/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;^&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\__^
                        <br> &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>P</span><span>A</span><span>R</span><span>T</span><span>H</span><span>E</span><span>N</span><span>O</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\<br> &nbsp;&nbsp;&nbsp;==========================
                        <br> &nbsp;&nbsp;&nbsp;##########################
                        <br> &nbsp;&nbsp;&nbsp;==========================
                        <br> &nbsp;&nbsp;&nbsp;||&nbsp;||&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;||&nbsp;||
                        <br> &nbsp;&nbsp;&nbsp;||&nbsp;||&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;||&nbsp;||
                        <br> &nbsp;&nbsp;&nbsp;||&nbsp;||&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;&nbsp;||&nbsp;||&nbsp;||
                        <br> &nbsp;&nbsp;_||_||_||__||__||__||_||_||_
                        <br> &nbsp;------------------------------
                        <br> --------------------------------
                        <br></div>
                    <hr>
                    <h6>What can I do with Partheno?</h6>
                    <p>Build inlay frieze with different wood species.
                        <br/> You are free to adjust:</p>
                    <ul>
                        <li>The number of pairs of triangles.
                        </li>
                        <li>The number of columns of triangles.
                        </li>
                        <li>The dimensions of the bookmark.</li>
                        <li>The wood specie used for the background.
                        </li>
                        <li>Even and odd background wood species for triangles.</li>
                        <li>Mind the cutting lines with show strokes option.</li>
                        <li>Set if downloadable or not.</li>
                        <li>Set if is chamfered or not.</li>
                    </ul>
                    <p>Use the button at the right to generate your own sample.</p>
                    <hr>
                    <em>Here is an example demonstrating the
                                        library &rightarrow;</em>
                </nav>
            </div>
            <div class="col">
                <h6>Example</h6>
                <button id="generate" class="btn btn-primary">Generate another one</button>
                <div id="results">
                </div>
            </div>
        </div>
    </div>


    <footer class="footer mt-auto py-3 text-center">
        <div class="container">
            <span class="text-muted">&copy; 2018 Partheno -
                                alpha version this is a POC 🍕 - <a
                                    href="mailto:contact-AT-parthenojs.com?subject=Contact&body=Thank
                                    you for using partheno.js!">Contact-us</a></span>
        </div>
    </footer>

    </div>
    </main>
    <script src="main.min.js"></script>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>